<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lunch Game App</title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700">
    <link rel="stylesheet" href="/static/css/bootstrap.css?{{ now }}">
    <link rel="stylesheet" href="/static/css/style.css"?{{ now }}>
    <script src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/prefixfree.min.js"></script>
  </head>

  <body>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      {% block body %}
      {% endblock %}
    </body>

</html>
